

@keyframes ldio-uo957kyiv7 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-uo957kyiv7 div { box-sizing: border-box!important }
.ldio-uo957kyiv7 > div {
  position: absolute;
  width: 103.62px;
  height: 103.62px;
  top: 26.69px;
  left: 26.69px;
  border-radius: 50%;
  border: 6.28px solid #000;
  border-color: #e15b64 transparent #e15b64 transparent;
  animation: ldio-uo957kyiv7 1s linear infinite;
}

.ldio-uo957kyiv7 > div:nth-child(2), .ldio-uo957kyiv7 > div:nth-child(4) {
  width: 87.92px;
  height: 87.92px;
  top: 34.54px;
  left: 34.54px;
  animation: ldio-uo957kyiv7 1s linear infinite reverse;
}
.ldio-uo957kyiv7 > div:nth-child(2) {
  border-color: transparent #f8b26a transparent #f8b26a
}
.ldio-uo957kyiv7 > div:nth-child(3) { border-color: transparent }
.ldio-uo957kyiv7 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uo957kyiv7 > div:nth-child(3) div:before, .ldio-uo957kyiv7 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 6.28px;
  height: 6.28px;
  top: -6.28px;
  left: 42.39px;
  background: #000000;
  border-radius: 50%;
  box-shadow: 0 97.34px 0 0 #0a0a0a;
}
.ldio-uo957kyiv7 > div:nth-child(3) div:after {
  left: -6.28px;
  top: 42.39px;
  box-shadow: 97.34px 0 0 0 #e15b64;
}

.ldio-uo957kyiv7 > div:nth-child(4) { border-color: transparent; }
.ldio-uo957kyiv7 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uo957kyiv7 > div:nth-child(4) div:before, .ldio-uo957kyiv7 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.28px;
  height: 6.28px;
  top: -6.28px;
  left: 34.54px;
  background: #070707;
  border-radius: 50%;
  box-shadow: 0 81.64px 0 0 #111111;
}
.ldio-uo957kyiv7 > div:nth-child(4) div:after {
  left: -6.28px;
  top: 34.54px;
  box-shadow: 81.64px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-lw3ixclxdps {
  width: 157px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
}
.ldio-uo957kyiv7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uo957kyiv7 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
.spiner {
   margin : auto;
}
  